section.contacts .col-lg-6 > *:last-child {
  margin-bottom: 0;
}
section.contacts .map {
  height: 768px;
}

section.contacts h1 {
  margin-bottom: 25px;
}

section.contacts p {
  margin-bottom: 7px;
}

section.contacts ul {
  margin-bottom: 24px;
}

@media (max-width: 1099.98px) {
  section.contacts {
    padding-top: 90px;
  }

  section.contacts h1 {
    margin-bottom: 12px;
  }

  section.contacts ul {
    margin-bottom: 10px;
  }

  section.contacts .map {
    margin-top: 60px;
    height: 268px;
  }
}
